* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex; /* Sử dụng Flexbox để chia màn hình */
    height: 100vh; /* Chiều cao bằng 100% màn hình */
  }

  #main-doc {
    width: 70%; /* Chia đôi màn hình */
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc nếu nội dung vượt quá */
    padding:30px;
    padding-left: 50px;
  }
  #navbar{
    width: 30%; /* Chia đôi màn hình */
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc nếu nội dung vượt quá */
display: grid;
background-color: black;
color: yellow;
}
a {
text-decoration: none;
font-family: "Times New Roman", Times, serif;
font-size: 20px;
padding: 10px 20px;
box-sizing: border-box;
border-bottom: solid white;
}
a:hover{
color: white;
}
.header-navbar{
font-size: 30px;
font-weight: bolder;
font-family: Impact, fantasy;
box-sizing: border-box;
background-color: brown;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
color: yellow;
}
.header-doc{
font-size: 30px;
font-weight: bolder;
font-family: TimesNewRoman;
background-color: white;
text-align: center;
padding-top: 20px;
padding-bottom: 30px;
color: black;}

header{
font-size: 20px;
font-weight: bold;
box-sizing: border-box;
background-color:#f4f4f4;
color: #d63384;
}
img {
width: 370px;
height: 200px;
object-fit: cover;
text-align: center;
padding-top: 10px;
}
.ghep{
display: flex;
justify-content: space-between;  
gap: 68px;
padding-bottom: 20px;
}
li {
padding-top: 10px;
font-size: 20px;
}
p{
padding-top: 10px;
font-size: 20px;
}
@media(max-width: 768px){
.ghep{
  display: block;
}
img{
  width: 100%;
  height: 100%;
}
}
